.container {  display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "header header header"
      "menu menu menu"
      "text text text"
      "upfooter upfooter upfooter"
      "footer footer footer";
    width: 100%;
    height: 100%;
  }
  
  .header { grid-area: header; }
  
  .menu { grid-area: menu; 
}
  
  .footer { grid-area: footer; }
  
  .upfooter { grid-area: upfooter; }
  
  .text { grid-area: text; }
  